@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


body {
    font-family: "Playfair  Display";
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/* header styles */
nav {
    background: linear-gradient(135deg, #2E8540, #556B2F);
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

nav:hover {
    background: linear-gradient(135deg, #25703B, #35603A);
}

#logo {
    width: 120px;
    height: auto;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.05);
}

.nav-separator {
    border-right: 2px solid #fff;
    height: 50px;
    margin: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 30px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.2em;
    letter-spacing: 1px;
}

nav ul li:last-child a {
    padding: 10px 20px;
    background-color: #2E8540;
    border-radius: 6px;
    transition: background-color 0.3s;
}

nav ul li:last-child a:hover {
    background-color: #25703B;
}

nav ul li a:hover {
    color: #C0C0C0;
}

nav ul li i {
    margin: 10px;
}

/* end of header */

/* container styles */


.container {
    flex-grow: 1;
    width: calc(100vw - 100px);
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* statistics styles */
.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.statistics {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    text-align: center;
}

.stat-item i {
    font-size: 24px;
    
}

.stat-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-item p {
    margin: 0;
}

.stat-item strong {
    font-size: 18px;
    margin-left: 0;
}

/* form dash styles */
#formdash {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
}

td,th {
    border-bottom: black 1px solid;
}
th{
    color: #25703B ;
}
td{
    text-align: center;
    height: 6vh;
}

.btncontain{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.formaction{
    background: none;
    border: 1px #fff solid;
    background-color: #2E8540;
    z-index: 1;
    height: 80%;
    border-radius: 10px;
    text-decoration: underline;
    color: #fff;
}
.formaction:hover{
    cursor: pointer;
    border: 1px #25703B solid;
    color: #25703B;
    background-color: #fff;
    border-radius: 10px;
    transform: scale(1.05);
    transition: transform 0.2s;
}




/*footer*/
footer {
    background: linear-gradient(135deg, #2E8540, #556B2F);
    display: flex;
    /* position: absolute;
    width: 100%;
    bottom: 0vh; */
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: "Kavivanar";
    color: #fff;
    align-items: center;

}

footer div:nth-child(3) {
    padding-right: 2vw;
}

/*----------------------------*/