@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


body{
    font-family: "Playfair Display";
    padding: 0;
    margin:0;
}
html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

/*importing font*/
.kavivanar-regular {
    font-family: "Kavivanar", cursive;
    font-weight: 400;
    font-style: normal;
}

.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*----------------------*/


/*Header style*/
nav {
    background: linear-gradient(135deg, #2E8540, #556B2F) ; 
    top: 0; left: 0; right: 0; height: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

nav:hover {
    background: linear-gradient(135deg, #25703B, #35603A);
}

#logo {
    width: 150px;
    height: auto;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.05);
}

.nav-separator {
    border-right: 2px solid #fff;
    height: 50px;
    margin: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 50px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.2em;
    letter-spacing: 1px;
}
nav ul li:last-child a {
    padding: 10px 20px;
    background-color: #2E8540;
    border-radius: 6px;
    transition: background-color 0.3s;
}

nav ul li:last-child a:hover {
    background-color: #25703B;
}
nav ul li a:hover {
    color: #C0C0C0;
}
/*------------------------*/



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/*Volunteers photo*/

/* #Volunteers-photo{
    margin-top: 0.0;
} */
#Volunteers-photo img {
    position: absolute; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
    animation: fadeIn 1s ease-in;


}
#Volunteers-photo{
    position: relative;
    overflow: hidden;
    height: 400px; 
    margin-bottom: 10vh;
    margin-top: 0.2%;


}

/* #Volunteers-photo img{
    height:60vh;
    min-width:100vw;

} */ 

/*------------------------*/




/*Join our cause*/
#join-cause{
    text-align: center;
    position: relative;
    font-size: larger;
    animation: fadeIn 1s ease-in;

}
#join-cause h1{
    font-family:"Kavivanar";
    letter-spacing: 1.5px;
}
#join-cause-text-rectangle{
    position: absolute;
    font-family:"Playfair Display";
    padding-top: 7vh;
    left:30vw;
    width:35vw;
    height: 30vh;
    border-radius: 0.7vw 0 0 0.7vw ;
    
    background: linear-gradient(to right, #2E8540, #B3DDD5);
}
#aka-lfaza-lm3awja{
    position: relative;
    left:65vw;
    width:3vw;
    height: 37vh;
    border-radius:  0 100% 100% 0;
    background: linear-gradient(to right,#B3DDD5,#eaf3f1 );
}
/*---------------------------------------*/

/*get involved*/
#get-involved{
    text-align: center;
    font-family: "Playfair Display";
    border: solid 2px #556B2F;
    -webkit-text-stroke: #556B2F;
    margin: 2vw 2vw 2vw 2vw;
    animation: fadeIn 1s ease-in;

    
}

#get-involved h4{
    font-size: 2em;
    font-weight: 200;
}

#get-involved ol{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:5vh;
    align-content: center;
    
}
#get-involved ol #one, #get-involved ol #two {
    display: flex;
    font-size: larger;
    gap :20vw;
    li{
        width:30vw;
    }
}

#get-involved ol #three{
    font-size: larger;
    padding-top:2vh;
    padding-left:25vw;

    li{
        width:30vw;
    }
}
/*-------------------------------------------*/

/*footer*/
footer{
    background: linear-gradient(135deg, #2E8540, #556B2F) ; 
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    font-family: "Kavivanar";
    color: #fff;
    align-items: center;

}

footer div:nth-child(3){
    padding-right: 2vw;
}

/*----------------------------*/


