body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
/* Header styles */
nav {
    background: linear-gradient(135deg, #2E8540, #556B2F);
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

nav:hover {
    background: linear-gradient(135deg, #25703B, #35603A);
}

#logo {
    width: 100px;
    height: auto;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.05);
}

.nav-separator {
    border-right: 2px solid #fff;
    height: 40px;
    margin: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 30px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1em;
    letter-spacing: 1px;
}

nav ul li:last-child a {
    padding: 8px 16px;
    background-color: #2E8540;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li:last-child a:hover {
    background-color: #25703B;
}

nav ul li a:hover {
    color: #C0C0C0;
}

/* background image */
.bck-img {
    background-image: url('BackgroundImage.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    filter: blur(8px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure background is behind other elements */
}

/* Container Styles */
.req{
    color:red
}
form {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
legend{
    font-size: large;
    color: #556B2F;
    text-shadow:0 8px 10px rgba(0, 0, 0, 0.1) ;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
input[type="radio"]{
 transform: scale(1.5);
 margin-top: 15px;
 margin-left: 150px;
}

input:focus,
textarea:focus {
    border-color: #257042;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
}

input[type="submit"] {
    background: linear-gradient(135deg, #4CAF50, #45a049);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background: linear-gradient(135deg, #45a049, #4CAF50);
}
.label-questions{
    font-weight: bold;
    color: #556B2F;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 100px;
}
fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

fieldset div {
    margin-bottom: 15px;
}


/* Footer Styles */
footer {
    background: linear-gradient(135deg, #2E8540, #556B2F); 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: "Kavivanar";
    color: #fff;
    align-items: center;
}

footer div:nth-child(3) {
    padding-right: 2vw;
}
/* Javascript */
.success input ,.success textarea{
    border-color: #09c372;
}

.error input,.error textarea {
    border-color: #ff3860;
}




/* Error animation */
@keyframes errorAnimation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.error-animation {
    animation: errorAnimation 0.5s ease-in-out;
}
