@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* common */
body{
    margin: 0;

}

#section{
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 100px;
    padding-top: 11px;    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    gap: 30px;
}
button{
    height: 50px;
    border-radius: 40px;
    background-color: #88B04B;
    border-color: #88B04B;
    color: black;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



/*Header style*/
nav {
    margin-top: 0.0;
    background-color: #556B2F;
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    column-gap: 30vw;


}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding-top: 3.5vh;
    font-family: "Kavivanar";
    font-size: 2.2vh;
    color: #fff;



}
#logo {
    position: relative;
    padding-top: 1vh;
    padding-left: 2.5vw;
    width: 10vw;
}


/* intro */
#presentation{
    font-family: 'Playfair display';
    font-size: 70px;
    border-right: 5px solid rgb(221, 221, 221); 
    transition: border-right 0.3s ease;
    color: #88B04B;
}
#traitHor{
    margin: 0 auto;
    height: 6px;
    width: 70%;
    background-color: #88B04B;
    border-color: #88B04B;
    border-radius: 4px;
}

/* <!-- section1 --> */
.sect11{
    text-align: center;
    padding-top: 20px;
    font-family: 'Playfair Display', serif;
}
#img1{
    width: 450px;
    height: 260px;
}

/* video */
.video-container {
    position: relative;
    width: 100%;
    height: 30em;
    max-width: 800px; 
    margin: 0 auto; /* centre le conteneur horizontalement */
    border: 9px solid #88B04B; 
    border-radius: 10px;     
  }
.video-container:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  .video-container iframe {
    width: 100%;
    height: 100%; 
    border: none; /* supprime la bordure de l'iframe */
  }

  
/* Our Supporters */
#listSupp{
    display: flex;
    justify-content: space-between;
    list-style: none;


}
#oursupp{
    background-color: #88B04B;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
}
.supp{
    width: 90px;
    mix-blend-mode: color-burn;
    
}

/* section2 */
#img2{

    width: 450px;
    height: 350px;
    border-radius: 60px;
    

}
#btn2{
    padding-left: 80%;
}

/* section3 */
#btn3{
    padding-left: 70%;
}
#volunteernow{
    text-align: center;
}
/* be part */
#bepart{
    width: 90%;
    height: 22em;
    background: linear-gradient(to right, #88B04B, #A9D6CE);
    display: grid;
    place-items: center;
    font-family: 'Playfair display';
    border-radius: 30px;

}
#btn4{
    width: 5em;
}


/*footer*/
footer{
    background-color:#556B2F;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    font-family: "Kavivanar";
    color: #fff;
    align-items: center;

}

footer div:nth-child(3){
    padding-right: 2vw;
}