@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');   

body{
    margin: 0;
}
#bigContainer{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;

}
p{
    font-size: larger;
    text-align: center;
}
/* Intro */
h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #556B2F;

}
#container1{
    display: flex;
    gap: 35px;

}
.textleft{
    flex: 1fr;
}
.imgRight{
    flex: 1fr;
    
}
#img1{
    height: 18em;
}

/* process overview */
h2{
    text-align: center;
    color: #88B04B;
    font-style: italic;
}
#container3{
    display: flex;
    gap: 5em;
}
.partie{
    flex: 1fr;
    
}
li{
    font-size: xx-large;
}
ul{
    padding-left: 20%;
}
.vertical-line{
    flex: 1fr;
    width: 6px;
    height: 17em;
    background-color: #88B04B;
}

#final{
    padding: 0 80px 0 80px;
}
#img2{
    position: relative;
    width: 100%;
}