body{
    padding: 0;
    margin:0;
    background: #25703B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
html, body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}




#main{
    display: flex;
    background: #25703B;
    flex-flow: row wrap;
    margin-top: 20vh;
    justify-content: space-around;
    align-items: center;
}
#sectionleft{
    background: #fff;
}
#sectionright{
    border-radius: 2vw;
    border: #ddd 2px solid;
    width:50vw;
    height:60vh;
    color: #ddd;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

}
a:visited, a:link{
    color: #ddd;
}
#signup-hyperlink:hover{
    border-radius: 2vw;
    border: #25703B 2px solid;  
    background-color: linea

}

form{
    display: flex;
    flex-flow: column wrap;
    gap: 4vh;
    text-align: center;
    

}

input{
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}


