body{
    padding: 0;
    margin:0;
}
html, body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
/*header style*/ 

nav {
    background: linear-gradient(135deg, #2E8540, #556B2F) ; 
    top: 0; left: 0; right: 0; height: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

nav:hover {
    background: linear-gradient(135deg, #25703B, #35603A);
}

#logo {
    width: 150px;
    height: auto;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.05);
}

.nav-separator {
    border-right: 2px solid #fff;
    height: 50px;
    margin: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 50px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.2em;
    letter-spacing: 1px;
}
nav ul li:last-child a {
    padding: 10px 20px;
    background-color: #2E8540;
    border-radius: 6px;
    transition: background-color 0.3s;
}

nav ul li:last-child a:hover {
    background-color: #25703B;
}
nav ul li a:hover {
    color: #C0C0C0;
}
/*------------------------*/






#main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

#sectionright{
    border: #25703B solid 2px;
    border-radius: 2vw;
    width:50vw;
    height:60vh;
    background: #fff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

}

form{
    display: flex;
    flex-flow: column wrap;
    gap: 4vh;
    

}

input{
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}


/*footer*/
footer{
    background: linear-gradient(135deg, #2E8540, #556B2F) ; 
    /* position:absolute;
    width: 100%;
    bottom:0;
    left: 0; */
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    font-family: "Kavivanar";
    color: #fff;
    align-items: center;

}

footer div:nth-child(3){
    padding-right: 2vw;
}

/*----------------------------*/
